/* HEADER HTML*/
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #d7edf9;

}
.head1{
    background-image: linear-gradient(
        to right, #e0f2f7,
         #88cdec,
         #3b8baf,
         #1c556f,
         #0f384b
    );
    padding: 5px 10px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
#title{
    color: white;
    text-decoration: none;
    padding: auto;
    font-weight: bold;
    font-size: 2.0em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.b-container{
    background-color: transparent;
    border-radius: 5px;
}
.badge{
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.open{
    background-color: white;
}
.heads{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(img8.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #4e94e0;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity 1s ease-in-out;
}
.text-box h2{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-box p{
    margin: 10px 0 40px;;
    font-size: 14px;
    font-family:cambria;
    color: white;
}
#m {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid white;


}

.hero-btn{
    display: inline;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    border-radius: 10px;
}

.hero-btn:hover{
    border: 2px solid #10325e;
    background-color:#10325e;
    transition: 1s;
}
/*CSS to support the news and events page*/
#newsandevents{
    margin:2rem 5rem ;
    border:none;
    background-color: #d7edf9;
    border-radius: 0;;
}
#newsandevents fieldset{
    border: none;
}
#newsandevents textarea{
    width: 100%;
    height: 12rem;
    border: 0.3px dashed;
}
#newsandevents h2{
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
#newsandevents h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#newsandevents p{
    line-height: 1.5rem;
}
#sports{
    line-height: 1.5rem;
}

#newsandevents legend{
    text-align: center;
}
#newsandevents button{
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
  }
#newsandevents button:hover {
    background-color: #0056b3;
}

#calendar-section {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.calendar-container {
    border: 1px solid #ccc;
    padding: 10px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-header button {
    padding: 8px 15px;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

.calendar-header h3 {
    margin: 0;
}

#calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for the days of the week */
    gap: 5px;
}

.day {
    padding: 10px;
    text-align: center;
    border: 1px solid #eee;
    cursor: pointer;
    border-radius: 3px;
}
.day:hover{
    background-color: #333;
    color: whitesmoke;
}

.day.current {
    background-color: #62a9f5;
    color: white;
}
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #0099f8;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* FOOTER HTML */
.foot{
    width: 100%;
    text-align: center;
    padding: 30px 0;
  
}
.foot h4{
    margin-bottom: 25px;
    margin-top: 0px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 25px;

}

.icons {

    margin-bottom: 25px;
    margin-top: 20px;
    cursor: pointer;
    
    }
    .copyright{
        background-image: linear-gradient(
            to top, #235d78,
            #88cdec
        );
      
        box-sizing: border-box;
        color: white;
    
    }
    article{
        background-image: linear-gradient(
            to top, #aed3dd,
             #88cdec,
             #3b8baf,
             #1c556f,
             #235d78
        );
        color: white;
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        border-radius: 20px;
    }
    #academics ul li a:hover{
        color: rgb(0, 0, 0);
    }
    #school-Life ul li a:hover{
        color: rgb(0, 0, 0);
    }
    
    .section{
        padding: 20px;
        margin-left: 100;
    }
    .divider{
        border-bottom: 1px solid rgb(255, 255, 255);
        margin: 20px 0;    
    }
    #academics ul{
        list-style: none;
        padding: 0;
    }
    #academics li{
        margin-bottom: 5px;
    }
    #academics a{
        color: white;
        text-decoration: none;    
    }
    #school-life ul{
        list-style: none;
        padding: 0;
    }
    #school-Life a{
        color: white;
        text-decoration: none;   
    }
    .content-container{
        display: flex;
        flex-wrap: wrap;
    }
    .content-container .section{
        flex: 1 1 300px;
        background-image: linear-gradient(
            to top, #235d78,
            #88cdec
        );
    }
    @media(min-width:768px){
        .content-container{
            flex-wrap: nowrap;
        }
    }
    a img{
        transition: transform 0.3s ease;
        
    }
    a img:hover{
        transform: scale(1.1);
    }

    .dropdown-content{
        display: none;
        position: absolute;
        background-color:blue;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
    .dropdown-content a{
        color: rgb(235, 235, 241);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown{
        position: relative ;
        display: inline-block;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }

    /*department*/
    table{
        width: 90%;
        border-collapse: collapse;
        font-family: sans-serif;
        margin: auto;
    }
    th,td{
        padding: 10px;
        text-align: center;
        color: white;
    }
    th{
        background-color: rgb(95, 7, 7);
    }
    td{
        background-color: rgb(5, 20, 63);
    }
    .department_container table{
        margin: 0 auto;
    }

    /*curriculum*/
    .newcurriculum{
        margin: 50px;
        text-align: justify;
        background: repeating-linear-gradient(-60deg,#3498db,#3498db 15px,#e0f2f7 15px,#e0f2f7 30px);
    }
    .accordion{
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }
    .active, .accordion:hover{
        background-color: #ccc;
    }
    .panel{
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
    }
    .subject-item{
        margin-bottom: 5px;
    }
    #sublist{
        margin: 50px;
    }